@charset "UTF-8";

.home-page {
	padding: 0 48px;
	background-color: #F1F1F1;
}

.movie-container {
	display: flex;
	gap: 20px;
	overflow-x: auto;
	padding: 10px 5px 20px;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE/Edge */
}

.movie-container::-webkit-scrollbar {
	display: none; /* Chrome/Safari */
}

.movie-card {
	flex: 0 0 260px;
}

.movie-section {
	padding: 8px 0;
}

.section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.section-header h2 {
	margin: 0;
}

.section-header a {
	text-decoration: none;
}